html, body {
  color: #eee;
  padding: 0;
  margin: auto;
  height: 100%;
  background-color: #333;
}

.header {
  align: center;
}

/* lightbulb image styling */
.lightbulb {
  display: inline-block;
  text-align: center;
  padding: 30px;
  position: relative;
}

.bulb-image {
  width:60px;
  height:85px;
  cursor: pointer;
}

.edit-icon {
  position: absolute;
  top: 30px;
  right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.discoverable {
  clear: both;
  display: block;
  margin-left: 64px;
  float: left;
  text-align: center;
}

.dimmer {
  width: 50px;
}

/* navbar styling */
.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}


.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menuitem {
  float: left;
  margin-left: 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  overflow:hidden;
}

.menuitem:hover, .offcanvas .menuitem:focus{
    color: #ccc;
}

.discoverable:hover {
  color: #bfbfbf;
}

#navbar {
  width: 350px;
  position: absolute;
  left: -260px;
  background-color: #333;
}
#navbar.menu-open {
  background-color: #111;
  left: 0;
  border: 2px solid #222;
  box-shadow:  -1px 1px #222,
               -2px 2px #222,
               -3px 3px #222,
               -4px 4px #222,
               -5px 5px #222;
}

#scan-btn {
  padding-bottom: 32px;
}

#main {
  transition: margin-left .7s;
  margin-left: 90px;
  padding: 16px;
  height: 100%;
}

#main.menu-open {
   margin-left: 350px;
   background-size: cover;
   opacity: .3;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Menu icon animations */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline :none;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ccc;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}
.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(12px, 2.9px, 0) rotate(45deg) scale(0.6, 1);
}
.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(12px, -2.8px, 0) rotate(-45deg) scale(0.6, 1);
}

/* Loader animation */
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #29293d; /* Dark  */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    float: left;
    margin-left: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Modal Window */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
    background-color: #333;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #666;
    width: 70%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
